<div class="body">
    <div class="container">
       <div class="row">
       		<div class="col-xs-6">
       			<h2>フォロー中</h2>
				<table class=" table table-striped table-bordered">
					<thead>
						<tr>
							<th>　</th>
							<th>名前</th>
							<th>　</th>

						</tr>
					</thead>
					<tbody>
						<% @following_users.each do |following_user| %>
							<tr>

								<td>
									<%= link_to user_path(following_user.id) do %>
										<%= attachment_image_tag(following_user, :profile_image, :fill, 50, 50 ) %>
										
									<% end %>
									</td>
								<td><%= following_user.name %><br>
									<% if  following_user.user_maker == true%>
										作り手
									<% else %>	
										お店
									<% end %>
								</td>
								<td id="follow_<%= following_user.id %>" ><%= render 'relationships/follow', user:following_user %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

			<div class="col-xs-6">
       			<h2>フォロワー</h2>
				<table class=" table table-striped table-bordered">
					<thead>
						<tr>
							<th>　</th>
							<th>名前</th>
							<th>　</th>
						</tr>
					</thead>
					<tbody>
						<% @followed_users.each do |followed_user| %>
							<tr>
								<td><%= attachment_image_tag(followed_user, :profile_image, :fill, 50, 50 ) %></td>
								<td><%= followed_user.name %><br>
									<% if  followed_user.user_maker == true%>
										作り手
									<% else %>	
										お店
									<% end %>
								</td>
								<td id="follow_<%= followed_user.id %>"><%= render 'relationships/follow', user:followed_user %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>		

      </div>
    </div>
</div>