<div class="body">
    <div class="container">
       <div class="row">
       		<h2><%= @user.name %>さんの情報</h2>
       		<!-- 作り手とお店でテーブルの色を変える -->
       		<% if  @user.user_maker == true %>
				<table class=" table table-striped table-bordered" style="background-color: #ffffe0">
			<% else %>
				<table class=" table table-striped table-bordered" style="background-color: #f0ffff">
			<% end %>
				<thead>

					<% if  @user.user_maker == true %>
					<!-- 作り手用 -->
						<tr>
							<th style="width: 200px;">プロフィール画像</th>
							<td><%= attachment_image_tag(@user, :profile_image, :fill, 250, 250 ) %></td>
						</tr>
						<tr>
							<th>ユーザー</th>
			                <td>作り手</td>
						</tr>
						<tr>
			                <th>屋号</th>
			                <td><%= @user.name %></td>
						</tr>
						<tr>
			                <th>作り手名</th>
			                <td><%= @user.staff %></td>
						</tr>
						<tr>
			                <th>作り手の紹介</th>
			                <td><%= @user.introduction %></td>
						</tr>
					<% else %>
					<!-- お店用 -->
						<tr>
							<th>プロフィール画像</th>
							<td><%= attachment_image_tag(@user, :profile_image, :fill, 250, 250 ) %></td>
						</tr>
						<tr>
							<th>ユーザー</th>
			                <td>お店</td>
						</tr>
						<tr>
			                <th>店舗名</th>
			                <td><%= @user.name %></td>
						</tr>
						<tr>
			                <th>担当者名</th>
			                <td><%= @user.staff %></td>
						</tr>
						<tr>
			                <th>お店の紹介</th>
			                <td><%= simple_format @user.introduction %></td>
						</tr>					
					<% end %>
					<!-- 共通部分 -->
						<tr>
			                <th>タグ</th>
			                <td><%= render 'users/tag_list', tag_list: @user.tag_list %>
			                </td>
						</tr>
						<tr>
			                <th>郵便番号</th>
			                <td><%= @user.postal_code %></td>
						</tr>
						<tr>
			                <th>住所</th>
			                <td><%= @user.address %></td>
						</tr>
						<tr>
			                <th>電話番号</th>
			                <td><%= @user.phone_number %></td>
						</tr>
						<tr>
			                <th>Instagram</th>
			                <td>
			                	<%= link_to @user.instagram, style:"text-decoration: none; color: black" do %>
								    <%= image_tag 'instagram_image.jpeg', :size =>'50x50' %>
								<% end %>			                	
			                	<%= @user.instagram %>
							</td>
						</tr>
						<tr>
			                <th>FaceBook</th>
			                <td >
								<%= link_to @user.facebook, style:"text-decoration: none; color: black" do %>
									<%= image_tag 'facebook_image.jpg', :size =>'50x50' %>
								<% end %>		 
								<%= @user.facebook %>               	
			                </td>
						</tr>
						<tr>
							<th>Homepage</th>
			                <td>
								<%= link_to @user.homepage, style:"text-decoration: none; color: black" do %>
									<%= image_tag 'homepage_image.png', :size =>'50x50' %>
								<% end %>
								<%= @user.homepage %>
			                </td>
						</tr>
				</thead>
			</table>
			<%= link_to '編集する', edit_user_path(current_user.id),class: "btn btn-primary", style: "color: white; text-decoration: none;", data: {"turbolinks" => false} %>
        	<%= link_to "退会する", users_leave_path,style: "color: white; text-decoration: none;", class: "btn btn-danger" %>

      </div>
    </div>
</div>