<div class="body">
    <div class="container">
       <div class="row">
       		<div class="col-xs-4">
				<div>
		    		<div>
						<div>
				            <%= attachment_image_tag(@user, :profile_image, :fill, 250, 250 ) %>
						</div>
				        <div>
				        	<h4><%= @user.name %></h4>
				        	<%= render 'users/tag_list', tag_list: @user.tag_list %>
				        </div>
				        <div style="margin: 20px 50px">
				        	<% if current_user.following?(@user) || @user.following?(current_user) %>
				        		<%= link_to "チャットルームへ",chat_message_path(@user.id),class: "btn btn-info", style:"text-decoration: none;" %>
				        	<% end %>
				        </div>
				        <div id="follow_<%= @user.id %>" style="margin: 20px" >
				        		<%= render 'relationships/follow', user: @user %>
				        </div>
				        <div>
				        	<% if @user == current_user %>
				        		<%= link_to 'フォロー一覧へ',  relationships_path, class: "btn btn-primary", style: "color: white; text-decoration: none;" %>
				        	<% end %>
				        </div>
				        <div style="margin: 50px 0">
		    				<!-- 改行なども行ってくれるhelper -->
		    				<%= simple_format @user.introduction %>
		    			</div>
		    				
		    			<div>
		    				<%= render 'users/map', user: @user %>
		    			</div>
		    			<!--　ドラッグ・ドロップ用 -->
		    			<div>
		    				<% if @user == current_user %>
		    					<h4>記事の順番の入れ替え</h4>
			    				<ul id="sortable_list">
								  <% @photos.each do |photo| %>
								  	<li style="margin-top: 20px">
								  		<%= photo.introduction %><br>
								  		<%= attachment_image_tag(photo, :photo_image, :fill, 50, 50 ) %></li>
								  <% end %>
								</ul>
								<%= hidden_field_tag :user_id, @user.id %>
							<% end %>
		    			</div>

			    	</div>
		    	</div>       			
       		</div>
       		<div div class="col-xs-2">
       		</div>
       		<div div class="col-xs-6">
				<div>
					<% @photos.each do |photo| %>
						<%= attachment_image_tag(photo, :photo_image, :fill, 500, 500 ) %>
						<!-- 改行なども行ってくれるhelper -->
						<%= simple_format photo.introduction %>
						<% if @user == current_user %>
							<%= link_to "編集する", edit_photo_path(photo.id), class: "btn btn-danger" %>
							<%= link_to "削除する", photo_path(photo.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %>
						<% end %>
					<% end %>
		    	</div>
		    	<% if @user == current_user %>
		    		<%= form_for @photo_new, url: photos_path do |f| %>

		    			<%= f.attachment_field :photo_image,id: :post_img %>

		    			<%= f.text_area :introduction %>

						<%= f.submit "追加する" %>
		    		<% end %>
		    	<% end %>
       		</div>
      	</div>
    </div>
</div>