<div style="margin:20px">
  <%= form_for(item_new, url: items_path(item_new.id), remote: true) do |f| %>
    <%= f.hidden_field :document_id %>
    <%= f.label :商品名 %>
    <%= f.text_field :name, style:"width: 300px;" %><br>
    <%= f.label :数量　 %>
    <%= f.text_field :number, style:"width: 300px;" %><br>
    <%= f.label :単位　 %>
    <%= f.text_field :unit, style:"width: 300px;" %><br>
    <%= f.label :単価　 %>
    <%= f.text_field :price, style:"width: 300px;" %><br>
    <%= f.submit '商品の追加', style:"margin:10px 0 0 250px;" %>
  <% end %>
</div>

<table class="table">
    <thead>
      <tr>
        <th style="width:4em;text-align:right;"></th>
        <th>品名</th>
        <th style="width:4em;text-align:right;">数量</th>
        <th style="width:4em;">単位</th>
        <th style="text-align:right;">単価</th>
        <th style="text-align:right;">金額(円)</th>
      </tr>
    </thead>

    <tbody>
      <% count = 0 %>
      <% sum = 0 %>
        <% items.each do |item| %>
          <tr>
            <td style="text-align:right;">
              <%= link_to '編集',  edit_item_path(item.id) %>
              <%= link_to '削除', item_path(item.id), data: { confirm: '削除しますか?' }, method: :delete, remote: true %>
            </td>
            <td><%= item.name %></td>
            <td style="text-align:right;"><%= item.number %></td>
            <td><%= item.unit %></td>
            <td style="text-align:right;"><%= item.price.to_i.to_s(:delimited) %></td>
            <% count =  item.price.to_i  * item.number.to_i %>
            <td style="text-align:right;"><%= count.to_s(:delimited) %></td>
          </tr>
          <% sum = sum + count %>
        <% end %>
          <tr>
          <td colspan="3" rowspan="3">
          </td>
          <td colspan="2">小計</td>
          <td style="text-align:right;"><%= sum.to_s(:delimited) %></td>
          </tr>
          <tr>
            <td colspan="2">消費税(<span class="tax-rate">10</span>%)</td>
            <% tax = sum * 0.1 %>
            <td style="text-align:right;"><%= tax.round.to_s(:delimited) %></td>
          </tr>
          <tr>
            <td colspan="2">合計</td>
            <td style="text-align:right;">
              <% total = sum + tax.round %>
              <big><strong><span><%= total.to_s(:delimited) %></span></strong></big>
            </td>
          </tr>
    </tbody>
</table>