<div class="body">
    <div class="container">
       <div class="row">
       	<div class="col-md-7 col-xs-7">
       		<h3>書類一覧ページ(新着順)</h3>
       	</div>
       	 <div class="col-md-5 col-xs-5">
       		<h3><%= link_to '書類の新規作成',  new_document_path %></h3>
       	</div>
    	<table class="table">
    		<thead>
    			<tr>
    				<th></th>
    				<th>宛先</th>
    				<th>種類</th>
    				<th></th>
    				<th></th>
    				<th></th>
    				<th></th>
    			</tr>
    		</thead>
    		<tbody>
    			<% @documents.each do |document| %>
    			<% user = User.find(document.receiver_id) %>
    			<tr>
    				<td>
    					<%= attachment_image_tag(user, :profile_image, :fill, 70, 70 ) %>
    				</td>
    				<td><%= user.name %></td>
    				<td>
    					<% if document.document_status == '1' %>
					  		<span>見積書</span>
					  	<% elsif document.document_status == '2' %>
					  		<span>発注書</span>
					  	<% end %>
					  	<% if document.document_status == '3' %>
					  		<span>納品書</span>
					  	<% elsif document.document_status == '4' %>
					  		<span>請求書</span>
      				<% end %>
    				</td>
    				<td>
    					<%= link_to '編集',  edit_document_path(document.id) %>
    				</td>
    				<td>
    					<%= link_to '表示',  document_path(document.id) %>
    				</td>
    			</tr>
    			<% end %>
    		</tbody>
    	</table>
      </div>
    </div>
</div>