<div class="body">
    <div class="container">
       <div class="row">
            <%= render "devise/shared/error_messages", resource: @document %>
       		<%= form_for(@document, url: documents_path) do |f| %>
       		<!-- 書類の種類の選択 -->
        		<div>
                        <!-- 発注書が作れるのはお店のみ -->
                    <h3>書類の種類を選択してください</h3>
                        <% if current_user.user_maker == true %>
                			<%= f.radio_button :document_status, :'1', checked: true %>
                    					<span>見積書の作成</span><br>
                    		<%= f.radio_button :document_status, :'3' %>
                    					<span>納品書の作成</span><br>
                    		<%= f.radio_button :document_status, :'4' %>
                    					<span>請求書の作成</span><br>
                        <% else %>
                            <%= f.radio_button :document_status, :'2', checked: true %>
                                        <span>発注書の作成</span><br>
                        <% end %>
            	</div>

                    <h3>宛先をフォロー中のユーザーから選択してください</h3>
            	<div>
            			<%= f.collection_select :receiver_id, @following_users.all, :id, :full_info %>

            	</div>

            		<%= f.submit "書類作成画面へ進む", class: "btn btn-primary", :style=> "margin: 20px 0  0 200px;" %>

    		<% end %>
      </div>
    </div>
</div>