
<div id="theTarget" class="top-image">
	<div class="top-image_1">
		<h2 class="absolute_comment_1"><strong>「作り手」と「お店」を繋ぐ</strong></h2>
	</div>
    <div class="top-image_2">
		<h2 class="absolute_comment_2" style="color:white;"><strong>「お店」と「作り手」を繋ぐ</strong></h2>
    </div>
</div>

<div class="body">
    <div class="container">
    	<div class="row">

    		<div class="shadow" style="margin-left: 10%; width: 60%">
    			<h2 class="absolute_news" ><strong>NEWS　›</strong></h2>
    			<div style="background-color: #f5f5f5; padding: 30px;">
    				<ul style="list-style: none;">
    					<table>
    						<tbody>
    							<tr>

    								<td>EVENT</td>
    								<td>2020/06/07</td>
    								<td>新規登録者応援キャンペーンについて</td>
    							</tr>
    							<tr>

    								<td>EVENT</td>
    								<td>2020/04/08</td>
    								<td>第3回Haat Bazar交流会開催のお知らせ</td>
    							</tr>
    							<tr>

    								<td>INFO</td>
    								<td>2020/01/07</td>
    								<td>アップデートのお知らせ</td>
    							</tr>
    							<tr>

    								<td>EVENT</td>
    								<td>2019/010/07</td>
    								<td>第2回Haat Bazar交流会開催の報告</td>
    							</tr>    							    							    							
    						</tbody>
    					</table>
    				</ul>
    			</div>
    		</div>

	    	<div class="clearfix animation">
	    		<h3 style="border-bottom: solid 1px; margin-top: 150px">おすすめの作り手</h3><br>
	    		<!-- 新着4人のみ載せる -->
	    		<% count = 0 %>
		    	<% @user_makers.each do |user_maker| %>
		    		<% if count < 4 %>
						<div>
							<div class="recommend_user">
								<%= link_to user_path(user_maker.id), data: {"turbolinks" => false} do %>
					            <%= attachment_image_tag(user_maker, :profile_image, :fill, 250, 250 ) %>
					        <% end %><br>
					        <span><%= user_maker.name %></span>
							</div>
					    </div>
					    <% count = count + 1 %>
				    <% end %>
				<% end %>
	    	</div>
	    	<div  class="clearfix animation" style="margin-top: 100px">
	    		<h3 style="border-bottom: solid 1px">おすすめのお店</h3><br>
	    		<!-- 4人のみ載せる -->
	    		<% count = 0 %>
		    	<% @user_shops.each do |user_shop| %>
		    		<% if count < 4 %>
						<div>
							<div class="recommend_user">
								<%= link_to user_path(user_shop.id), data: {"turbolinks" => false} do %>
					            <%= attachment_image_tag(user_shop, :profile_image, :fill, 250, 250 ) %>
					        <% end %><br>
					        <span><%= user_shop.name %></span>
							</div>
					    </div>
					    <% count = count + 1 %>
				    <% end %>
				<% end %>
	    	</div>
      	</div>
    </div>
	<div class="container">
		<div class="row" id="user_new">
			<div class="animation">
				<div class="registration-image anm_mod fast" style="margin-top: 130px;" >
			      <!-- 作り手側 -->
			       	<div class="col-xs-6">
			       		<!-- そのまま新規登録画面へ -->
			          <div class="registration-maker anm_mod right delay shadow">
			            <%= link_to "作り手として新規登録する", new_user_registration_path, style:"text-decoration: none; color: white", data: {"turbolinks" => false} %>
			            <p>・新たなお店との出会いをさがす<br>・お店側からの制作の依頼</p>
			          </div>
			       	</div>
			       	<!-- お店側 -->
			       	<div class="col-xs-6"> 
			       		<!-- user_makerをfalseにする -->
			          <div class="registration-shop anm_mod left delay shadow">
			            <p>・新たな作り手との出会いをさがす <br> ・お店オリジナルの商品を依頼</p> 
			          	<%= link_to "お店を新規登録する", new_user_registration_path(user_maker: 'false'), style:"text-decoration: none; color: black", data: {"turbolinks" => false}  %>
			          </div>
			       	</div>
			    </div>
			</div>
		</div>
	</div>
	<div style="margin-top: 200px; border-top: solid 1px;">
		
				
	</div>	
</div>