<div style="width: auto">
				<% chat_messages.each do |chat| %>
					<% if chat.user_id == current_user.id %>
						<div style="text-align: right;">
							<span style="background-color: #87ceeb; font-size: 30px">
								<%= attachment_image_tag(chat, :chat_image, :fill, 250, 250 ) %>
								<%= chat.message %>
							</span>
							<p>(<%= chat.created_at.to_s(:datetime_jp) %>)</p>
						</div>
					<% else %>
						<p style="text-align: left;">
							<%=chat.user.name%>からのメッセージ <br>
							<span style="background-color: #fdf5e6; font-size: 30px">
								<%= attachment_image_tag(chat, :chat_image, :fill, 250, 250 ) %>
							<%= chat.message %></p>
							</span>
							<p>(<%= chat.created_at.to_s(:datetime_jp) %>)</p>
					<% end %>
				<% end %>
			</div>

			<div style="width: 400px; text-align: right;">
				<%= form_with(model:chat_message_new,data:{remote: true}) do |f| %>
					<%= f.attachment_field :chat_image,id: :post_img %>
					<%= f.text_field :message %>
					<%= f.hidden_field :chat_room_id %>
					<%= f.hidden_field :user_id, :value => user.id %>
					<%= f.submit "送信" %>
				<% end %>
</div>