<div class="body">
    <div class="container">
       <div class="row">
			<h1 id="room" data-room="<%= @chat_room.id %>" data-user="<%= current_user.id %>"><%= @user.name %>さんとのチャット</h1>
			<div class="col-xs-3">
				<%= attachment_image_tag(@user, :profile_image, :fill, 200, 200 ) %>
       		</div>
       		<%= render "devise/shared/error_messages", resource: @chat_message_new %>
			<div id="message" class="col-xs-8">
				<!-- @userは通知機能用 -->
				<%= link_to 'さらに10件表示', chat_message_path(@user.id, count: @count), style: "font-size: 20px; margin-left: 300px" %>
				<%= render "chat_messages/message", chat_messages: @chat_messages, chat_message_new: @chat_message_new, user: @user %>
			</div>
      </div>
    </div>
</div>