<!DOCTYPE html>
<html>
  <head>
    <title>Haat Bazar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー部分 -->
      <nav id="gnavi" class="collapse navbar-collapse" style="background-color: rgba( 0, 0, 0, 0.5); margin-bottom: 50px">
           <div class="navbar-header" style="font-size: 45px">
            HaatBazar
          </div>
         <ul class="nav navbar-nav navbar-right" style="font-size: 16px">
          <!-- 会員ログイン後 -->
          <% if user_signed_in? %>
            <li style=" margin: 15px 40px">ようこそ、　<%= current_user.name %>　さん！</li>
            <li>
              <div class="dropdown" style=" margin-top: 15px">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" , style="text-decoration: none; color: black">マイページ </a>
                  <ul class="dropdown-menu">
                      <li><%= link_to '通知', notifications_path, style:"text-decoration: none; color: black" %></li>
                      <li><%= link_to 'ユーザー情報', users_path, style:"text-decoration: none; color: black" %></li>
                      <li><%= link_to 'フォローの一覧',  relationships_path, style:"text-decoration: none; color: black" %></li>
                      <li><%= link_to "チャットルーム一覧", chat_messages_path, style:"text-decoration: none; color: black" %></li>
                      <% if current_user.user_maker == true %>
                          <li><%= link_to '屋号詳細', user_path(current_user.id), data: {"turbolinks" => false} %></li>
                      <% else %>
                          <li><%= link_to '店舗詳細', user_path(current_user.id), data: {"turbolinks" => false} %></li>
                      <% end %>
                      <li><%= link_to "お問い合わせ", new_contact_path, style:"text-decoration: none; color: black" %></li>
                  </ul>
               </div>
            </li>
            <li><%= link_to "About us", homes_about_path, style:"text-decoration: none; color: black" %></li>
            <li><%= link_to "作り手・お店一覧", homes_path, style:"text-decoration: none; color: black" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, style:"text-decoration: none; color: black" %></li>

          <!-- 非ログイン -->
          <% else %>
            <li><%= link_to "About us", homes_about_path, style:"text-decoration: none; color: black" %></li>
            <li><%= link_to "作り手・お店一覧", homes_path, style:"text-decoration: none; color: black" %></li>
            <li><%= link_to "新規登録",  new_home_path, style:"text-decoration: none; color: black" %></li>
            <li><%= link_to "ログイン", new_user_session_path, style:"text-decoration: none; color: black" %></li>
          <% end %>
        </ul>
      </nav>


    <%= yield %>
    <!-- フッター部分 -->
    <footer class="hoge_footer">
      <span style="color: black; margin:10px 40%; font-size: 15px">Copycat (C) Copycat. All Rights Reserved.</span>
    </footer>
  </body>
</html>