<!DOCTYPE html>
<html>
  <head>
    <title>Haat Bazar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="wrapper">
    <!-- ヘッダー部分 -->
      <nav style="background-color: white; margin-bottom: 50px">
           <div class="navbar-header" style="color: green;font-size: 45px">
            HaatBazar
          </div>
         <ul class="nav navbar-nav navbar-right" style="font-size: 16px; margin-right: 50px">
          <!-- 会員ログイン後 -->
          <% if user_signed_in? %>
            <li style=" margin: 15px 40px">ようこそ、　<%= current_user.name %>　さん！</li>
            <li>
              <div class="dropdown" style=" margin-top: 15px">
                <!-- 通知があるか -->
                <% if unchecked_notifications.any? %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration: none; color: black">マイページ</a><span class="glyphicon glyphicon-bell" aria-hidden="true" style="color: red"></span>
                <% else %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration: none; color: black">マイページ </a>
                <% end %>
                  <ul class="dropdown-menu">
                      <li >
                        <% if unchecked_notifications.any? %>
                          <%= link_to '通知あり', notifications_path, style:"text-decoration: none; color: black", style:"color: red" %>
                        <% else %>
                           <%= link_to '通知なし', notifications_path, style:"text-decoration: none; color: black" %>
                        <% end %>
                    </li>
                      <li><%= link_to 'ユーザー情報', users_path, style:"text-decoration: none; color: black" %></li>
                      <li><%= link_to 'フォローの一覧',  relationships_path, style:"text-decoration: none; color: black" %></li>
                      <li><%= link_to "チャットルーム一覧", chat_messages_path, style:"text-decoration: none; color: black" %></li>
                      <% if current_user.user_maker == true %>
                          <li><%= link_to '屋号詳細', user_path(current_user.id), data: {"turbolinks" => false}, style:"text-decoration: none; color: black" %></li>
                      <% else %>
                          <li><%= link_to '店舗詳細', user_path(current_user.id), data: {"turbolinks" => false}, style:"text-decoration: none; color: black" %></li>
                      <% end %>
                      <li><%= link_to "書類一覧",  documents_path, style:"text-decoration: none; color: black" %></li>
                       <li><%= link_to "お問い合わせ",  new_home_path, style:"text-decoration: none; color: black" %></li>
                  </ul>
               </div>
            </li>
            <li><%= link_to "About us", homes_about_path, style:"text-decoration: none; color: black" %></li>
            <li><%= link_to "作り手・お店一覧", homes_path, style:"text-decoration: none; color: black" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, style:"text-decoration: none; color: black" %></li>

          <!-- 非ログイン -->
          <% else %>
            <li><%= link_to "About us", homes_about_path, style:"text-decoration: none; color: black" %></li>
            <li><%= link_to "作り手・お店一覧", homes_path, style:"text-decoration: none; color: black" %></li>
            <li><%= link_to "お問い合わせ",  new_home_path, style:"text-decoration: none; color: black" %></li>
            <li><%= link_to "新規登録",  root_path(anchor: 'user_new'), style:"text-decoration: none; color: black" %></li>
            <li><%= link_to "ログイン", new_user_session_path, style:"text-decoration: none; color: black" %></li>

          <% end %>
        </ul>
      </nav>


    <%= yield %>
    <!-- フッター部分 -->
    <footer>
      <span style="font-size: 15px">Copycat (C) Copycat. All Rights Reserved.</span>
    </footer>
  </body>
</html>